html {
  background-color: #d0e0eb;
  height: 100vh;
  min-height: 100vh;
}

body {
  background-color: #ebf7f8;
  color: #49708a;

  margin: 1.5em;
  padding: 1em;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#app {
  min-height: 100%;
}